apiVersion: v1
kind: Service
metadata:
  name: {{ include "backend.fullname" . }}-api
  labels:
    {{- include "backend.labels" . | nindent 4 }}
    tier: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "backend.selectorLabels" . | nindent 4 }}
    tier: api
