api:
  image:
    tag: "latest"

worker:
  image:
    tag: "latest"

migrate:
  image:
    tag: "latest"

image-processor:
  bucket-name: sorahenkan

objectstorer:
  endpoint: "minio.default.svc.cluster.local:9000"
  ssl: false
  secretName: "minio"
  accessKeyKey: "root-user"
  secretKeyKey: "root-password"
  region: "us-east-1"

database:
  host: "postgres.default.svc.cluster.local"
  port: "5432"
  user: "postgres"
  passwordSecret: "postgres"
  passwordSecretKey: "postgres-password"
  name: "postgres"
  sslmode: "disable"

httpRoute:
  enabled: true
  parentRefs:
    - name: gateway
      sectionName: backend
      namespace: istio-system
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
